@import '../../variables';

.#{$slug}-brand-image {
    width: 100% !important;
    margin: 0 !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    min-height: 175px;
    height: auto !important;
}