@import '../../variables';

.#{$slug}-table-datatables {
    .#{$slug}-table-thead th {
        position: relative;
        padding-right: 23px;

        &.kuber-table-th {
            cursor: pointer;

            &::after {
                content: "";
                width: 16px;
                height: 21px;
                position: absolute;
                top: 4px;
                right: 4px;
                bottom: 0;
                margin: auto;
                background: url('/public/images/datatables/sort.png') no-repeat;
                background-size: 12px;
            }
    
            &.#{$slug}-table-sort-asc::after {
                background-image: url('/public/images/datatables/sort-asc.png');
            }
    
            &.#{$slug}-table-sort-desc::after {
                background-image: url('/public/images/datatables/sort-desc.png');
            }
        }
    }

    .#{$slug}-datatables-actions {
        display: flex;
        align-items: center;
        gap: 7px;

        .#{$slug}-datatables-action {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 4px;
            width: 35px;
            height: 30px;
            font-size: 0.9rem;
            border: 0;
            outline: none;
    
            &.#{$slug}-datatables-action-viewer {
                background-color: #007bff;
            }
            &.#{$slug}-datatables-action-edit {
                background-color: #6c757d;
    
                i.fa-edit {
                    position: relative;
                    left: 1.7px;
                }
            }
            &.#{$slug}-datatables-action-delete {
                background-color: #dc3545;
            }
        }    
    }
}

@media (max-width: 767.98px) {
    .#{$slug}-table td, .#{$slug}-table th {
        font-size: 0.9rem;
    }
}

@media (max-width: 575.98px) {
    .#{$slug}-table-datatables td, .#{$slug}-table-datatables th {
        font-size: 0.8rem;
    }

    .#{$slug}-table-datatables .#{$slug}-datatables-actions .#{$slug}-datatables-action {
        width: 30px;
        height: 25px;
        font-size: 0.75rem;
    }
}